* {box-sizing: border-box;}

body{
    background-image: url("./images/abstract-background-background-view-of-nature-bio-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: green;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 30%;
  padding: 10px;
  outline: none;
  border-color: green;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}


/* Set a style for the sign up button */
.btn {
    background-color: white;
    color:green;
    padding: 15px 20px;
    border-color: green;
    cursor: pointer;
    width: 36%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
/* row */
  .row{
      padding-left: 40%;
      padding-bottom: 10%;
  }

  /* animation*/
  .slide-left {
    width:100%;
    overflow:hidden;
    padding-left: 16%;
  }
  div.slide-left p {
    animation: slide-left 50s;
  }
  
  div.slide-left h5 {
    animation: slide-left 50s;
  }
  
  @keyframes slide-left {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  